# County Statistics

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
counties_2019 = pd.read_csv("data/raw/county_2019.csv")
county_amer_com_surv = pd.read_csv("data/raw/county_info_openintro.csv")
counties_2019.head()

,state,name,fips,age_over_18,age_over_18_moe,age_over_65,age_over_65_moe,age_over_85,age_over_85_moe,age_under_5,...,uninsured_under_19,uninsured_under_19_moe,uninsured_under_6,uninsured_under_6_moe,veterans,veterans_moe,white,white_moe,white_not_hispanic,white_not_hispanic_moe
0,Alabama,Autauga County,1001,76.2,0.1,15.0,0.2,1.6,0.3,5.8,...,1.7,0.9,1.7,2.3,12.6,1.3,76.8,0.5,74.6,0.1
1,Alabama,Baldwin County,1003,78.3,NaN,20.0,0.1,1.9,0.3,5.5,...,3.8,1.1,2.2,1.3,11.8,0.6,86.2,0.4,83.1,0.1
2,Alabama,Barbour County,1005,79.1,0.1,18.6,0.1,1.6,0.4,5.3,...,3.3,2.0,3.4,2.4,6.6,0.8,46.8,0.6,45.8,0.1
3,Alabama,Bibb County,1007,79.4,0.2,15.9,0.3,2.0,0.7,5.8,...,2.0,1.7,4.5,4.4,8.0,1.4,76.8,0.3,74.5,0.1
4,Alabama,Blount County,1009,76.8,0.1,17.9,0.2,1.8,0.3,5.9,...,5.9,2.5,6.1,3.2,7.7,0.8,95.5,0.6,86.9,0.5

In [29]:
counties_2019.columns

Index(['state', 'name', 'fips', 'age_over_18', 'age_over_18_moe',
       'age_over_65', 'age_over_65_moe', 'age_over_85', 'age_over_85_moe',
       'age_under_5', 'age_under_5_moe', 'asian', 'asian_moe',
       'avg_family_size', 'avg_family_size_moe', 'bachelors', 'bachelors_moe',
       'black', 'black_moe', 'hispanic', 'hispanic_moe',
       'household_has_broadband', 'household_has_broadband_moe',
       'household_has_computer', 'household_has_computer_moe',
       'household_has_smartphone', 'household_has_smartphone_moe',
       'households', 'households_moe', 'households_speak_asian_or_pac_isl',
       'households_speak_asian_or_pac_isl_moe',
       'households_speak_limited_english',
       'households_speak_limited_english_moe', 'households_speak_other',
       'households_speak_other_moe', 'households_speak_other_indo_euro_lang',
       'households_speak_other_indo_euro_lang_moe', 'households_speak_spanish',
       'households_speak_spanish_moe', 'housing_mobile_homes',
       'housing_mobile_homes_moe', 'housing_one_unit_structures',
       'housing_one_unit_structures_moe', 'housing_two_unit_structures',
       'housing_two_unit_structures_moe', 'hs_grad', 'hs_grad_moe',
       'mean_household_income', 'mean_household_income_moe',
       'mean_work_travel', 'mean_work_travel_moe', 'median_age',
       'median_age_moe', 'median_household_income',
       'median_household_income_moe', 'median_individual_income',
       'median_individual_income_moe', 'median_individual_income_age_25plus',
       'median_individual_income_age_25plus_moe', 'native', 'native_moe',
       'other_single_race', 'other_single_race_moe', 'pac_isl', 'pac_isl_moe',
       'per_capita_income', 'per_capita_income_moe', 'persons_per_household',
       'persons_per_household_moe', 'pop', 'pop_moe', 'poverty', 'poverty_moe',
       'poverty_65_and_over', 'poverty_65_and_over_moe', 'poverty_under_18',
       'poverty_under_18_moe', 'two_plus_races', 'two_plus_races_moe',
       'unemployment_rate', 'unemployment_rate_moe', 'uninsured',
       'uninsured_moe', 'uninsured_65_and_older', 'uninsured_65_and_older_moe',
       'uninsured_under_19', 'uninsured_under_19_moe', 'uninsured_under_6',
       'uninsured_under_6_moe', 'veterans', 'veterans_moe', 'white',
       'white_moe', 'white_not_hispanic', 'white_not_hispanic_moe'],
      dtype='object')

In [30]:
county_amer_com_surv.head()

,name,state,pop2000,pop2010,pop2017,pop_change,poverty,homeownership,multi_unit,unemployment_rate,metro,median_edu,per_capita_income,median_hh_income,smoking_ban
0,Autauga County,Alabama,43671.0,54571,55504.0,1.48,13.7,77.5,7.2,3.86,yes,some_college,27841.70,55317.0,none
1,Baldwin County,Alabama,140415.0,182265,212628.0,9.19,11.8,76.7,22.6,3.99,yes,some_college,27779.85,52562.0,none
2,Barbour County,Alabama,29038.0,27457,25270.0,-6.22,27.2,68.0,11.1,5.90,no,hs_diploma,17891.73,33368.0,partial
3,Bibb County,Alabama,20826.0,22915,22668.0,0.73,15.2,82.9,6.6,4.39,yes,hs_diploma,20572.05,43404.0,none
4,Blount County,Alabama,51024.0,57322,58013.0,0.68,15.6,82.0,3.7,4.02,yes,hs_diploma,21367.39,47412.0,none

In [31]:
county_fips = counties_2019[["name", "fips", "age_over_65"]]
county_fips.head()

             name  fips  age_over_65
0  Autauga County  1001         15.0
1  Baldwin County  1003         20.0
2  Barbour County  1005         18.6
3     Bibb County  1007         15.9
4   Blount County  1009         17.9

In [32]:
print(county_fips.shape)
print(county_amer_com_surv.shape)

(3142, 3)
(3142, 15)

In [36]:
np.mean(county_fips["name"] == county_amer_com_surv["name"]) #looks like these counties aren't quite exactly matched.

0.9936346276257161

In [40]:
county_fips[county_fips["name"] != county_amer_com_surv["name"]]

                                   name   fips  age_over_65
76            Hoonah-Angoon Census Area   2105         20.5
81                 Kusilvak Census Area   2158          5.5
82           Lake and Peninsula Borough   2164          7.8
83            Matanuska-Susitna Borough   2170         11.3
84                     Nome Census Area   2180          7.0
85                  North Slope Borough   2185          6.9
86             Northwest Arctic Borough   2188          7.5
87                   Petersburg Borough   2195         22.0
88    Prince of Wales-Hyder Census Area   2198         16.0
89               Sitka City and Borough   2220         15.2
90                 Skagway Municipality   2230         11.7
91      Southeast Fairbanks Census Area   2240         13.6
92           Valdez-Cordova Census Area   2261         12.3
93            Wrangell City and Borough   2275         22.7
2412               Oglala Lakota County  46102          6.8
2413                  Pennington County  46103         17.4
2414                     Perkins County  46105         24.0
2415                      Potter County  46107         27.8
2416                     Roberts County  46109         19.4
2417                     Sanborn County  46111         19.9

In [41]:
county_amer_com_surv[county_amer_com_surv["name"] != county_fips["name"]]

,name,state,pop2000,pop2010,pop2017,pop_change,poverty,homeownership,multi_unit,unemployment_rate,metro,median_edu,per_capita_income,median_hh_income,smoking_ban
76,Hoonah Angoon Census Area,Alaska,3436.0,2150,NaN,NaN,11.1,64.0,8.6,12.63,no,some_college,29040.32,57900.0,NaN
81,Lake and Peninsula Borough,Alaska,1823.0,1631,1620.0,-2.59,16.5,75.0,2.5,11.89,no,hs_diploma,20957.43,45208.0,none
82,Matanuska-Susitna Borough,Alaska,59322.0,88995,106532.0,11.14,9.8,79.2,10.1,8.66,yes,some_college,27306.48,74887.0,none
83,Nome Census Area,Alaska,9196.0,9492,9921.0,0.78,24.9,56.2,17.4,12.57,no,hs_diploma,21509.23,53821.0,none
84,North Slope Borough,Alaska,7385.0,9430,9782.0,0.06,10.2,48.3,24.9,7.44,no,hs_diploma,28886.59,77266.0,none
85,Northwest Arctic Borough,Alaska,7208.0,7523,7684.0,-0.48,25.3,53.7,19.4,16.82,no,hs_diploma,19824.44,61533.0,none
86,Petersburg Borough,Alaska,6684.0,3815,3281.0,-0.18,7.8,76.7,9.5,9.34,no,some_college,33142.29,63490.0,NaN
87,Prince of Wales-Hyder Census Area,Alaska,6146.0,5559,6443.0,-0.05,16.0,69.0,9.7,11.42,no,some_college,23990.18,52114.0,NaN
88,Sitka City and Borough,Alaska,8835.0,8881,8689.0,-3.05,9.2,55.9,24.4,4.68,no,some_college,35002.92,70765.0,none
89,Skagway,Alaska,NaN,968,NaN,NaN,5.6,59.1,27.2,10.56,no,some_college,38150.23,70673.0,NaN
90,Southeast Fairbanks Census Area,Alaska,6174.0,7029,6888.0,-1.32,13.9,65.2,17.3,10.44,no,some_college,24596.05,63866.0,none
91,Valdez-Cordova Census Area,Alaska,10195.0,9636,9278.0,-5.06,7.4,71.8,17.6,7.96,no,some_college,30746.27,86019.0,none
92,Kusilvak Census Area,Alaska,7028.0,7459,8202.0,2.91,NaN,64.8,4.1,NaN,NaN,NaN,NaN,NaN,none
93,Wrangell,Alaska,NaN,2369,NaN,NaN,11.7,78.7,11.9,7.71,no,some_college,30153.57,56094.0,NaN
2412,Pennington County,South Dakota,88565.0,100948,110141.0,3.97,14.0,66.6,21.5,3.39,yes,some_college,28938.84,52245.0,partial
2413,Perkins County,South Dakota,3363.0,2982,2974.0,-1.43,12.0,69.4,10.7,2.97,no,some_college,30826.61,50450.0,partial
2414,Potter County,South Dakota,2693.0,2329,2231.0,-5.31,6.5,82.0,5.9,3.42,no,some_college,33152.29,51597.0,partial
2415,Roberts County,South Dakota,10016.0,10149,10278.0,0.30,18.8,70.7,6.9,4.84,no,some_college,25187.64,51228.0,partial
2416,Sanborn County,South Dakota,2675.0,2355,2450.0,5.33,9.7,76.6,7.1,3.52,no,some_college,33277.38,54677.0,partial
2417,Oglala Lakota County,South Dakota,12466.0,13586,14354.0,1.59,NaN,51.3,3.8,NaN,NaN,NaN,NaN,NaN,none

In [48]:
# since these two county lists are identical except for punctiation, we will concat them rather than left join.
county_data = pd.concat([county_fips, county_amer_com_surv.drop(columns = "name")], axis = 1)
county_data

,name,fips,age_over_65,state,pop2000,pop2010,pop2017,pop_change,poverty,homeownership,multi_unit,unemployment_rate,metro,median_edu,per_capita_income,median_hh_income,smoking_ban
0,Autauga County,1001,15.0,Alabama,43671.0,54571,55504.0,1.48,13.7,77.5,7.2,3.86,yes,some_college,27841.70,55317.0,none
1,Baldwin County,1003,20.0,Alabama,140415.0,182265,212628.0,9.19,11.8,76.7,22.6,3.99,yes,some_college,27779.85,52562.0,none
2,Barbour County,1005,18.6,Alabama,29038.0,27457,25270.0,-6.22,27.2,68.0,11.1,5.90,no,hs_diploma,17891.73,33368.0,partial
3,Bibb County,1007,15.9,Alabama,20826.0,22915,22668.0,0.73,15.2,82.9,6.6,4.39,yes,hs_diploma,20572.05,43404.0,none
4,Blount County,1009,17.9,Alabama,51024.0,57322,58013.0,0.68,15.6,82.0,3.7,4.02,yes,hs_diploma,21367.39,47412.0,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,Sweetwater County,56037,11.4,Wyoming,37613.0,43806,43534.0,-3.57,12.0,73.7,14.6,4.55,no,some_college,30282.59,71083.0,none
3138,Teton County,56039,14.0,Wyoming,18251.0,21294,23265.0,4.21,6.8,60.8,31.9,2.99,no,bachelors,48557.37,80049.0,partial
3139,Uinta County,56041,13.0,Wyoming,19742.0,21118,20495.0,-2.22,14.9,73.7,17.0,4.50,no,some_college,27048.12,54672.0,none
3140,Washakie County,56043,21.1,Wyoming,8289.0,8533,8064.0,-4.31,12.8,70.9,10.0,4.08,no,some_college,27494.83,51362.0,none
3141,Weston County,56045,19.4,Wyoming,6644.0,7208,6927.0,-2.93,14.4,77.9,6.5,3.98,no,some_college,33296.70,59605.0,none

In [49]:
county_data.to_csv("data/processed/county_information.csv", index = False)